body{
    margin:0;
    padding:0;
    color:red;
}
header{
    font-size:100px;
   
}

.container
{
   display:flex;
   align-items: center;
   flex-direction: column;
   background-color: black;
}

#head
{

}

#dices
{
    display: flex;
}

img
{
      margin: 178px;
}
